<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <title>{{ game.title }}</title>
  <link rel="stylesheet" href="/static/style.css?v={{ time }}" />

</head>
<body>

  <div class="main">
    <h1>{{ game.title }}</h1>
    <p>{{ game.description }}</p>

    {% if game.image_url %}
      <img src="{{ game.image_url }}" alt="{{ game.title }}" />
    {% else %}
      <img src="/static/images/placeholder.jpg" alt="Brak okładki">
    {% endif %}

    <p><strong>Wydawca:</strong>
  <a href="/producer/{{ game.producer_id }}">
    {{ game.producer_name }}
  </a>
</p>

    <p><strong>Data premiery:</strong> {{ game.release_date }}</p>
    <p><strong>Gatunek:</strong> {{ game.genre }}</p>
  </div>

  <h2>Osiągnięcia</h2>
{% if achievements %}
  <ul class="achievement-list">
    {% for a in achievements %}
      <li class="achievement-item">
        <span class="achievement-title" onclick="toggleDescription('desc-{{ a.id }}')">
          🏆 {{ a.name }} ({{ a.points }} pkt)
        </span>
        <div id="desc-{{ a.id }}" class="achievement-description hidden">
          <p>{{ a.description or "Brak opisu." }}</p>
        </div>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>Brak osiągnięć dla tej gry.</p>
{% endif %}


  <a href="/">← Wróć na stronę główną</a>

<script>
  function toggleDescription(id) {
    const el = document.getElementById(id);
    el.classList.toggle("hidden");
  }
</script>


</body>
</html>
