{% extends "base.html" %}
{% block title %}Gatunek: {{ genre.name }}{% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/styles/genre.css?v={{ time }}" />
<div class="genre-container">
  <h1 class="genre-title">Gatunek: {{ genre.name }}</h1>

  {% if games %}
    <div class="genre-grid">
      {% for game in games %}
        <a href="/game/{{ game.id }}" class="genre-card">
          <img src="/static/images/{{ game.thumbnail_filename or 'placeholder.jpg' }}" alt="{{ game.title }}">
          <p>{{ game.title }}</p>
        </a>
      {% endfor %}
    </div>
  {% else %}
    <p class="no-games-text">Brak gier w tym gatunku.</p>
  {% endif %}
</div>
{% endblock %}
